.Rproj.user
.Rhistory
.RData
_bookdown_files
.DS_Store
*.rds
.Rapp.history
my_ignore/
.vscode
libs/
run.py

*.toc

wwu_book/PoU.synctex.gz

wwu_book/PoU.log

wwu_book/PoU.blg

wwu_book/PoU.bbl

wwu_book/PoU.aux
